.gv12Body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  padding: 20px 0;
}

.gv12Image {
  padding: 5;
  height: 250px;
  width: 100%;
  
  transition: filter 100ms linear;
}

.gv12Image:hover, .gv12Image:focus {
  cursor: pointer;
  filter: brightness(0.8);
  transition: filter 250ms linear;
}

@media (max-width:576px) {
  .gv12Body {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  
    padding: 10px 0;
  }

  .gv12Image {
    height: 200px;
  }
}