.gv12Body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  padding: 20px 0;
}

.gv12Image {
  padding: 5;
  height: 250px;
  transition: filter 100ms linear;
}

.gv12Image:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transition: filter 250ms linear;
}
