.hp12Body {
  display: flex;
  padding-top: 30px;
}

.hp12FeedContainer {
  flex: 1;
}

.hp12SuggestedContainer {
  display: none;
}

@media (min-width: 768px) {
  .hp12FeedContainer {
    flex: 2;
  }

  .hp12SuggestedContainer {
    display: block;
    position: relative;
    width: 100%;
    flex: 1;
  }
}
