@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font families */
  --font-family: 'Roboto', sans-serif;

  /* Colors */
  /* Light theme */
  /* --primary-color: #1da1f2;
  --text-color: #14171a;
  --dark-gray: #657786;
  --light-gray: #aab8c2;
  --hover: #e1e8ed;
  --background: #f5f8fa;
  --card:#fff;
  --white: #fff;
  --like: #e31b23; */

  /* Dark theme */
  /* --primary-color: #1da1f2;
  --text-color: #fff;
  --dark-gray: #8899a6;
  --light-gray: #aab8c2;
  --hover: #22303c;
  --background: #15202b;
  --card: #192734;
  --white: #fff;
  --like: #e31b23; */

  /* Sizes */
  --navbar-height: 60px;

  /* Font Sizes*/
  --text-xxxxl: 32px;
  --text-xxxl: 28px;
  --text-xxl: 24px;
  --text-xl: 20px;
  --text: 18px;
  --text-sm: 16px;
  --text-xs: 14px;
  --text-xxs: 12px;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  font-size: var(--text-sm);
}

.container {
  display: flex;
  justify-content: center;
}

.routes-container {
  padding: 0 10px;
  margin-top: var(--navbar-height);
  max-width: 1024px;
  min-height: calc(100vh - var(--navbar-height));
  width: 100%;
}

p,
h1,
h2,
a {
  color: var(--text-color);
  font-family: inherit;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}